<html>
<head>
    <title>Action</title>
    <head>
        <link rel="stylesheet" href="{{ asset('../node_modules/bootstrap/dist/css/bootstrap.css') }}">
    </head>

</head>
<body>
    <h1>Hello {{ controller_name }}! {{ name }} ✅</h1>
    <div class="alert alert-success">
        CC
    </div>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/sf4Forma/src/Controller/PersonneController.php'|file_link(0) }}">src/Controller/PersonneController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/sf4Forma/templates/personne/index.html.twig'|file_link(0) }}">templates/personne/index.html.twig</a></code></li>
    </ul>
</body>
</html>