<html>
<head>
    <title>Action</title>
    <head>
        <link rel="stylesheet" href="{{ asset('../node_modules/bootstrap/dist/css/bootstrap.css') }}">
    </head>

</head>
<body>
    <h1>Hello {{ controller_name }}! {{ name }} ✅</h1>
    <div class="alert alert-success">
        CC
    </div>
    name : {{ name }} <br>
    age : {{ age }}
</body>
</html>